@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
.carousel-item h1{
    font-family: 'Mansalva', cursive;   
}
.dropdown-content{
    margin-left: 70%;
}
nav{
    background-color: #414141;
}
.nav-wrapper .dropdown-trigger .notificationIcon {
    margin-left: 90%;
}
/* dropdown notifications */
.section {
    width: 30px;
}
.link img {
    width: 60px;
    height: 60px;
}
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;  
}
body{
    background-color: grey;
}
.curriculum{
    background-color: aliceblue;
    padding-bottom: 20px;
}
